@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

* {
  box-sizing: border-box;
  background-color: #171717;
}

header h1 {
  padding-left: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  font-family: 'Domine', serif;
  color: white;
}

header p {
  padding-left: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Domine', serif;
  color: white;
}

.button {
  position: absolute;
  right: 235px;
  top: 10px;
  color: #E4B564;
  border-color: #E4B564;
  text-decoration: none;
  border: solid 1px;
  padding: 10px 25px;
  cursor: pointer;
}

.logo {
  padding-left: 230px;
  padding-right: 230px;
}

.firstList {
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 350px 350px;
  column-gap: 34px;
  padding-left: 230px;
  padding-right: 230px;
}

.item-1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #634F2C;
}
.item-2 {
  grid-area: 1 / 3 / 2 / 5;
  background-color: #B4A385;
}
.item-3 {
  grid-area: 1 / 5 / 2 / 7;
  background-color: #E4B564;
}
.item-4 {
  grid-area: 2 / 1 / 3 / 4;
  background-color: #635A4A;
}
.item-5{
  grid-area: 2 / 4 / 3 / 7;
  background-color: #B08C4D;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  color: white;
  text-align: center;
  padding-top: 155px;
  font-family: 'Domine', serif;
}








footer h1 {
  position: absolute;
  color: white;
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 700;
  left: 230px;
}

footer a {
  position: absolute;
  color: #E4B564;
  border: solid 1px;
  border-color: #E4B564;
  font-family: 'Domine', serif;
  padding: 10px 40px;
  right: 230px;
  margin-top: 20px;
  cursor: pointer;
}

.lastList {
  height: 1000px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  padding-left: 230px;
  padding-right: 230px;
}